h1 {
  font-size: 30px;
}
p {
  margin: 10px 0;
}

section {
  margin: 10px 0;
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  li {
    &::before {
      display: inline-block;
      content: '*';
      padding-right: 10px;
    }
  }
}